@import "tailwindcss";
:root {
  --background: #F2F2F2;
  --foreground: #171717;
  --primary:#254A87;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
*{
box-sizing: border-box;
}
body{
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  @apply bg-background text-foreground;
  
}
.container{
  @apply w-[95%] md:w-[90%]! lg:w-[80%]! 
}
.anton{
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}